
.pro-page_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pro-page_container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  background: #fff;
  padding: 0 16px;
  > div {
    &:first-child {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.pro-page_content{
  flex: 1;
  overflow: hidden auto;
}
