#root {
  height: 1px;
  min-height: 100%;

  p {
    margin: 0;
  }
}

.cms-pointer {
  cursor: pointer;
}

.pagination-right {
  padding: 20px;
  height: 75px;

  .ant-pagination {
    float: right;
  }

}

.cms-table_tb_100 {
  width: 100px;
}

.cms-table_tb_250 {
  width: 250px;
}

.cms-mt_20 {
  margin-top: 20px;
}
